<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>{{title}}</h1>
</div>

<app-inventory-item-detail [inventoryItem]="selectedItem"></app-inventory-item-detail>
<div class="action-bar">
<button type="button" (click)="onAddRoomClick()">Ajouter une pièce</button>
</div>
<ul *ngIf="showRoomList">
  <li *ngFor="let room of rooms" (click)="onRoomSelect(room)">
    {{room.name}}
  </li>
</ul>

<div class="inventory-section">
<ul class="room-collection">
  <p *ngIf="inventoryRooms.length === 0">
    Commencez par ajouter une pièce.
  </p>

  <li *ngFor="let room of inventoryRooms">

    <h3><span (click)="onRoomRemove(room)">&times;</span> <span (click)="onRoomChoice(room)">{{room.name}}</span> => Quantité: {{room.itemQuantity}}; Volume: {{room.volume}} m<sup>3</sup></h3>



    <div *ngIf="selectedRoom === room">
      Filtrer : <input type="text" id="query" [(ngModel)]="query" />
      <app-room-inventory [inventoryItemCollection]="room.inventoryItemCollection | filterItem:query"></app-room-inventory>

    </div>
  </li>
</ul>
</div>
<div class="resume-inventory-section">
  <h3>Résumé</h3>
  <ul>
    <ng-container *ngFor="let room of inventoryRooms">
  <li *ngIf="room.displayToResume">
    <b>{{room.name}} => {{room.volume}}</b>
    <dl>
      <dt *ngFor="let item of room.inventoryForResume">
        {{item.name}} &times; {{item.quantity}} => {{item.volume}}
      </dt>
    </dl>
  </li>
    </ng-container>
  </ul>
</div>